##############################
#
# $ sudo cp naelog.service /etc/systemd/system
# $ sudo systemctl daemon-reload
# $ sudo systemctl start naelog ( for check )
# $ sudo systemctl enable naelog
#
# $ journalctl -b -u naelog.service ( for check )
#
##############################

[Unit]
Description=NaeLOG
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/[*****]/nae-log/backend/
ExecStart=/bin/bash -c 'source /[*****]/nae-log/.venv/bin/activate && exec uvicorn app.main:app --reload --host=0.0.0.0 --port=8000'
User=[*****]
Group=root
KillMode=process
Restart=always
TimeoutStopSec=5
StandardOutput=null

[Install]
WantedBy=multi-user.target
